{% extends 'base.html' %}

{% block content %}

<ul>
    {% for subject in subjectList %}
    <li>{{subject.id}} : {{subject.name}}</li>
    {% endfor %}
</ul>

<!-- METHOD GET -->
<form action="{{ url_for('subject') }}" method="GET">
    <input type="text" name="keyword">
    <input type="submit" value="ค้นหา">
</form>

<hr>

<!-- METHOD POST -->
<form action="{{ url_for('create_subject') }}" method="POST">
    <input type="text" name="subject_id">
    <input type="text" name="subject_name">
    <input type="submit" value="เพิ่ม">
</form>
{% endblock content %}