<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="row">
            <div class="col">
                <h5>หน่วยงานสนับสนุนการเรียนการสอน</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office/"
                            title="กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">กองบริหารวิทยาเขตจันทบุรี</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_document/"
                            title="งานสารบรรณและธุรการ กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานสารบรรณและธุรการ</a>&nbsp;&nbsp;</li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_person/"
                            title="งานการเจ้าหน้าที่ กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานการเจ้าหน้าที่</a>&nbsp;&nbsp;</li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_plan-asset/"
                            title="งานแผนและทรัพย์สิน กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานแผนและทรัพย์สิน</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_building/"
                            title="งานอาคารสถานที่และ ยานพาหนะ กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานอาคารสถานที่และยานพาหน</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_building/power/"
                            title="หน่วยสาธารณูปโภคและพลังงาน กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">หน่วยสาธารณูปโภคและพลังงาน</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_academic/"
                            title="งานวิชาการและวิเทศสัมพันธ์ กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานวิชาการและวิเทศสัมพันธ์</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~office_student/"
                            title="งานกิจการนิสิต กองบริหารวิทยาเขตจันทบุรี มหาวิทยาลัยบูรพา วิทยาเขตจันทบุรี"
                            target="_blank">งานกิจการนิสิต</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~itjan/"
                            title="โครงการจัดตั้งสำนักวิทยบริการและเทคโนโลยีสารสนเทศ"
                            target="_blank">โครงการจัดตั้งสำนักวิทยบริการและเทคโนโลยีสารสนเทศ</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~cit/"
                            title="งานเทคโนโลยีสารสนเทศ โครงการจัดตั้งสำนักวิทยบริการและเทคโนโลยีสารสนเทศ"
                            target="_blank">งานเทคโนโลยีสารสนเทศ</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~techno/"
                            title="งานเทคโนโลยีการศึกษา โครงการจัดตั้งสำนักวิทยบริการและเทคโนโลยีสารสนเทศ"
                            target="_blank">งานเทคโนโลยีการศึกษา</a></li>
                    <li><a href="http://www.chanthaburi.buu.ac.th/~libjan/"
                            title="งานห้องสมุด โครงการจัดตั้งสำนักวิทยบริการและเทคโนโลยีสารสนเทศ"
                            target="_blank">งานห้องสมุด</a></li>
                </ul>
            </div>
        </div>

        <section class="section_bottom">
            <div class="inner">
                <div class="block_bottom_menu float-right">
                    <ul>
                        <li><a href="sitemap.php">Sitemap</a></li>
                    </ul>
                </div>
                <div class="block_copyrights">
                    <p>Copyright &copy; 2014 Burapha University Chanthaburi Campus. All rights reserved.</p>
                </div>
                <div class="clearboth"></div>
            </div>
        </section>
    </div>
    </div>
</footer>
<!-- End of Footer -->